.header-wrapper {
  width: 100%;
  position: fixed;
  top: 0px;
  background: #fff;
  z-index: 999;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
  padding: 0 15px
}

.header:hover {
  overflow: visible;
  width: 100%;
  border-radius: 5px;
}
.menu{
  display: flex;
  justify-content: space-between;
}

.hamburger {

  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #fb8d4e;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #fb8d4e;
}
.hamburger span {
  display: block;
  height: 2px;
  background-color: #fff;
}
.hamburger span::after,.hamburger span::before{
  display: block;
  content: '';
  height: 2px;
  background-color: #fff;
  position: relative;
}
.hamburger span::before {
  top: -7px
}
.hamburger span::after {
  top: 5px
}

@media  (max-width: 768px){
  
}
@media  (max-width: 640px){
  .navigationbar,.rigthsection {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
.nav-item a {
  color: #333;
  padding: 8px;
  text-transform: uppercase;
}
.navbar-nav .nav-item .active,.navbar-nav .nav-item .active:hover,
.navbar-nav .nav-item .active{
  color: #fb8d4e;
  padding: 8px;
}

.navbar-toggler:focus {
  box-shadow:  0px 1px 3px 0px #fb8d4e !important;
}