* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  background-color: #f3f3f3;
  padding-top: 76px;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #fb8d4e;
}

.home-container h1 {
  font-size: 2.8rem;
  color: #fb8d4e;
}

.errormsg {
  color: #fff;
  background-color: red;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}
.carousel-caption {
  color: #fb8d4e;
}

@media screen and (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
}
}
